NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://admin:admin123@mongo:27017/lavacar?authSource=admin

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=lavacar
MINIO_PUBLIC_ENDPOINT=localhost
MINIO_PUBLIC_PORT=9000
MINIO_PUBLIC_USE_SSL=false

API_TOKEN=seu-token-aqui
